form {
    position: relative;
    display: inline-block;
    font-size: 0;
    margin-top: 2in;
    text-align: center;
  }
  
  .proxy {
    background-color: rgba(7, 7, 7, 0.171);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 600px;
    height: 60px;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
    outline: none;
    transition: .2s;
  }
  
  .proxy:hover {
    background-color: rgba(7, 7, 7, 0.459);
    color: white;
    transition: .2s;
  }
  
  .proxy:focus {
    background-color: rgba(7, 7, 7, 0.582);
    color: white;
    transition: .2s;
  }

  input {
    margin-top: 3cm;
    font-size:large;
    background-color: azure;
  }
  